---
# [COMMONS]
# Common variables used in various playbooks
home: "{{ lookup('env', 'HOME') }}"
shell: "{{ lookup('env', 'SHELL') }}"

# This file contains additional path exports set inside some
# playbooks
path_file_path: "{{ home }}/.local/bin/path"
# [END COMMONS]

# [BORG]
# path to the borg repo directory
# example:
# borg_repo: /var/local/backups
borg_repo: "{{ local_borg_repo }}"

# https://borgbackup.readthedocs.io/en/stable/quickstart.html
# https://borgbackup.readthedocs.io/en/stable/usage/help.html#borg-patterns

# list of borg patterns with paths that must be exluded
# example:
# borg_excludes:
# - '/home/*/.cache/*'
# - '/var/tmp/*'
borg_excludes: "{{ local_borg_excludes }}"

# list of borg patterns with paths that must be included
# example:
# borg_includes:
# - /etc
# - /home
# - /root
# - /var
borg_includes: "{{ local_borg_includes }}"
# [END BORG ]

# Set to true to remove the current poetry
# script (~/.local/bin/poetry) and perform
# the installation progress again
# https://python-poetry.org/docs/master/#installing-with-the-official-installer
poetry_update: false

# Contains a list of all aliases that should be
# set inside $HOME/.aliases . All aliases are set using
# the form "alias <name>='<value>'"
aliases: "{{ local_aliases | default([]) }}"
# - name: ll
#   value: ls -l
# - name: la
#   value: ll -a
# - name: l
#   value: ls -laF

# The config must contain a list and each
# item must have the attributes "name", "sync_path"
# and "sync_remote". The name will be used for
# a systemd user service that executes the daemon
# sync_path contains the absolute path to the
# directory that is synced. sync_remote points to the
# remote that is used in the other side. A rclone command
# similar to this setup looks like
# rclone sync -v /home/foo/Documents gdrive:Documents
rclone_sync_config: "{{ local_rclone_sync_config | default([]) }}"

# Cli command, that is used to decrypt the rclone config
# This maybe something like `secret-tool lookup rclone-config pw`
# It is highly recommended to encrypt the rclone configuration
# as passwords are only obfuscated (base64)
rclone_password_command: "{{ local_rclone_password_command | default(None) }}"

# A mount config must contain the following:
# - name: <rclone config name>
#   mount_point: <path to mount the target>
#   vfs_cache_mode: <Cache mode off|minimal|writes|full>
#   remote_path: <path on the remote>
rclone_mount_config: "{{ local_rclone_mount_config | default([]) }}"

# Installation directory of miniconda
miniconda_home: "{{ local_miniconda_home }}"

# Latitude and longitude of your current location
# It is sufficient to set only one decimal place.
# Berlin for example has 52.5 (lat), 13.3 (lon)
redshift_lat: "{{ local_redshift_lat }}"
redshift_lon: "{{ local_redshift_lon }}"

lsp_packages: "{{ local_lsp_packages }}"

# Put your gpg key id (8 byte, ex. 4E1F 799A A4FF 2279) here.
# https://github.com/ususdei/qute-keepassxc#how-it-works
qutebrowser_kp_gpg_key: "{{ local_qutebrowser_kp_gpg_key | default(False) }}"

# Define the path where ollama stores its downloaded models
ollama_model_store: "{{ local_ollama_model_store }}"
ollama_cuda_visible_devices: "{{ local_ollama_cuda_visible_devices }}"
ollama_host: "{{ local_ollama_host }}"

# Where to store the httpie.AppImage file
httpie_appimage_dest: "{{ local_httpie_appimage_dest }}"

# Configure keyring that is used inside vs code
# that is used to store secrets.
# https://code.visualstudio.com/docs/editor/settings-sync#_recommended-configure-the-keyring-to-use-with-vs-code
vscode_password_store: gnome-libsecret

# Enable keepassxc ssh agent integration
# Check settings => ssh agent => ssh agent integration
# use a string here!
keepassxc_ssh_agent_enabled: 'true'

# which application provides the `ssh-askpass` binary
# take a look at the ssh_unlock.yml playbook
ssh_askpass_provider: gnome-keyring

# which program to use when ssh asks for input
# this may be a password for a key file
# or yes/no/fingerprint in case of a host key validation
ssh_askpass_bin: /usr/lib/seahorse/ssh-askpass

# Use gnome keyring as secret service
freedesktop_secret_service: gnome-keyring
