#!/usr/bin/env bash

WALLPAPER_DIR="$HOME/.local/share/wallpapers"

if [ ! -z "$1" ]; then
    WALLPAPER_DIR=$1
fi

if [ ! -d "$WALLPAPER_DIR" ]; then

    echo "Wallpaper dir '$WALLPAPER_DIR' not found"
    return
fi

FOO="$WALLPAPER_DIR/*"
for foo in $FOO;
do
    for bar in $FOO;
    do
        if [ "$foo" = "$bar" ];
        then
            continue
        fi
        if [ -f "$foo" ] && [ -f "$bar" ] && diff -q "$foo" "$bar" > /dev/null;
        then
            echo "Deleting $bar"
            rm "$bar"
        fi
    done
done
