#!/usr/bin/env zsh
use_asdf-venv() {
  # check if python version is set in current dir
  echo "Check for .tool-versions file"
  if [ -f .tool-versions ] ; then
      echo "Found asdf-vm config"
      if [ ! -d .venv ] ; then
          echo "Installing virtualenv for $(python -V)"
          # if we didn't install `py2venv` for python 2.x, we would need to use
          # `virtualenv`, which you would have to install separately.
          python -m venv .venv
      fi
  fi
}

# Solution taken from
# https://github.com/direnv/direnv/issues/592#issuecomment-856227234
layout_poetry() {
  if [[ ! -f pyproject.toml ]]; then
    log_error 'No pyproject.toml found. Use `poetry new` or `poetry init` to create one first.'
    exit 2
  fi

  local VENV=$(poetry env info --path)
  if [[ -z $VENV || ! -d $VENV/bin ]]; then
    log_error 'No poetry virtual environment found. Use `poetry install` to create one first.'
    exit 2
  fi

  export VIRTUAL_ENV=$VENV
  export POETRY_ACTIVE=1
  PATH_add "$VENV/bin"
}
