[theme.color_palette]
background = "#2e3440"
foreground = "#eceff4"
muted = "#4c566a"
highlight = "#ebcb8b"
accent_primary = "#81a1c1"
accent_secondary = "#5e81ac"
accent_tertiary = "#88c0d0"
accent_quaternary = "#8fbcbb"
info = "#b48ead"
warning = "#d08770"
error = "#bf616a"
