[Desktop Entry]
Name=Eilmeldung
Version={{ _eilmeldung_version }}
GenericName=RSS Reader
Comment=TUI News Reader
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=ghostty --font-family="" --font-family="JetBrainsMono Nerd Font" --font-size=18 --font-style="" --font-style="Light" --font-style-bold="Regular" -e {{ home }}/.cargo/bin/eilmeldung
Type=Application
Terminal=true
Icon=rss
StartupNotify=true
StartupWMClass=eilmeldung
