theme = Nord
cursor-style = block
cursor-style-blink = true
font-family = "JetBrainsMono NF Medium"
font-size = 11
scrollback-limit = 4294967295
adjust-cell-height = 20%
background-opacity = 0.95
background-blur = 5
unfocused-split-opacity = 0.8
quit-after-last-window-closed = false
shell-integration-features = no-cursor, ssh-env

keybind = ctrl+a>n=new_tab
keybind = global:unconsumed:ctrl+shift+r=reload_config
keybind = ctrl+a><=new_split:right
keybind = ctrl+a>-=new_split:down
keybind = ctrl+a>h=goto_split:left
keybind = ctrl+a>j=goto_split:down
keybind = ctrl+a>k=goto_split:up
keybind = ctrl+a>l=goto_split:right

keybind = ctrl+alt+k=clear_screen
keybind = ctrl+a>s=write_screen_file:open

keybind = ctrl+shift+left=resize_split:left,10
keybind = ctrl+shift+down=resize_split:down,10
keybind = ctrl+shift+up=resize_split:up,10
keybind = ctrl+shift+right=resize_split:right,10
