theme = nord
font-family = "JetBrainsMono NF Medium"
scrollback-limit = 5000
adjust-cell-height = 20%
background-opacity = 0.9
background-blur = 5

keybind = ctrl+a>n=new_tab
keybind = ctrl+shift+r=reload_config
keybind = ctrl+a><=new_split:right
keybind = ctrl+a>-=new_split:down
keybind = ctrl+h=goto_split:left
keybind = ctrl+j=goto_split:down
keybind = ctrl+k=goto_split:up
keybind = ctrl+l=goto_split:right

keybind = ctrl+alt+k=clear_screen
keybind = ctrl+a>s=write_screen_file:open

keybind = ctrl+shift+left=resize_split:left,10
keybind = ctrl+shift+down=resize_split:down,10
keybind = ctrl+shift+up=resize_split:up,10
keybind = ctrl+shift+right=resize_split:right,10
