theme = "nord"

[editor]
line-number = "relative"
mouse = false
rulers = [80, 120]
color-modes = true

[editor.statusline]
mode.normal = "󰰓"
mode.insert = "󰰄"
mode.select = "󰰢"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.whitespace.render]
space = "all"
tab = "all"
newline = "none"
