[accounts.mailbox]
default = true
email = "{{ himalaya_email }}"
display-name = "{{ himalaya_display_name }}"
downloads-dir = "{{ himalaya_downloads_dir }}"

{% if himalaya_backend_type == 'notmuch' %}
backend.type = "notmuch"
backend.database-path = "{{ himalaya_db_path }}"
backend.maildirpp = false
{% endif %}

{% for alias in himalaya_aliases %}
folder.aliases.{{ alias.name }}="{{ alias.value }}"
{% endfor %}

{% if himalaya_message_backend_type == 'smtp' %}
message.send.backend.type = "smtp"
message.send.backend.host = "{{ himalaya_smtp_host }}"
message.send.backend.port = {{ himalaya_smtp_port }}
message.send.backend.login = "{{ himalaya_backend_login }}"
message.send.backend.encryption.type = "{{ himalaya_backend_encryption_type }}"
message.send.backend.auth.type = "{{ himalaya_backend_auth_type }}"
message.send.backend.auth.command = "{{ himalaya_backend_auth_command }}"
{% endif %}
