local mainMod = "SUPER" -- Sets "Windows" key as main modifier

local scrolling = {1, 2}
for i = 1, #scrolling do
    hl.workspace_rule({ workspace = tostring(scrolling[i]), layout = "scrolling" })
end

hl.bind(mainMod .. " + period", hl.dsp.layout("swapcol r"))
hl.bind(mainMod .. " + comma", hl.dsp.layout("swapcol l"))

hl.bind(mainMod .. " + plus", hl.dsp.layout("colresize 1.0"))
hl.bind(mainMod .. " + minus", hl.dsp.layout("colresize 0.5"))
