gui:
  sidePanelWidth: 0.2
  nerdFontsVersion: 3
git:
  autoFetch: false
  paging:
    colorArg: always
    {% if __lazygit_side_by_side -%}
    pager: delta --dark --paging=never --syntax-theme base16-256 -s
    {%- endif %}
