gui:
  sidePanelWidth: 0.2
  nerdFontsVersion: 3
git:
  autoFetch: false
  paging:
    colorArg: always
    {% if __lazygit_side_by_side -%}
    pager: delta --dark --paging=never --syntax-theme base16-256 -s
    {%- endif %}
{% raw %}
customCommands:
  - key: '<c-P>'
    description: "Push to a specific remote repository"
    context: 'global'
    loadingText: 'Pushing ...'
    prompts:
      - type: 'menuFromCommand'
        title: 'Which remote repository to push to?'
        command: bash -c "git remote --verbose | grep '/.* (push)'"
        filter: '(?P<remote>.*)\s+(?P<url>.*) \(push\)'
        valueFormat: '{{ .remote }}'
        labelFormat: '{{ .remote | bold | cyan }} {{ .url }}'
      - type: 'menu'
        title: 'How to push?'
        options:
          - value: 'push'
          - value: 'push --force-with-lease'
          - value: 'push --force'
    command: "git {{index .PromptResponses 1}} {{index .PromptResponses 0}}"
{% endraw %}
