[ui]
beep=false
flash=false
splash=true
wrap=true
wins.autotidy=true
resource.title=false
resource.message=false
occupants=true
occupants.jid=false
roster=true
roster.offline=false
roster.resource=false
roster.presence=false
roster.status=true
roster.empty=false
roster.wrap=true
roster.count.zero=false
roster.priority=false
roster.contacts=true
roster.unsubscribed=true
roster.rooms=true
privileges=false
presence=false
intype=true
enc.warn=false
tls.show=true
time.console=%H:%M:%S
time.chat=%d/%m/%y %H:%M:%S
time.muc=%d/%m/%y %H:%M:%S
time.mucconfig=off
time.private=%d/%m/%y %H:%M:%S
time.xmlconsole=%H:%M:%S
time.statusbar=%H:%M:%S
time.lastactivity=%d/%m/%y %H:%M:%S
statuses.console=none
statuses.chat=all
statuses.muc=none
console.muc=first
console.private=all
console.chat=all
roster.by=none
roster.order=presence
roster.unread=after
roster.rooms.order=name
roster.rooms.unread=after
roster.rooms.pos=first
roster.rooms.by=none
roster.private=room
roster.count=unread
occupants.size=15
roster.size=15
roster.rooms.private.char=/
roster.contact.indent=1
history=true

roster.rooms.server=false
time.config=off
titlebar.position=1
mainwin.position=2
statusbar.position=3
inputwin.position=4

[otr]
otr.char=@

log=on

[pgp]
pgp.char=%

[logging]
chlog=true

[omemo]
omemo.char=*

[plugins]
load=notifycmd.py;
