{
    // General bar settings
    "layer": "top",
    "position": "top",
    "height": 39,
    "spacing": 0, // Spacing between modules

    // Module configuration
    // Modules defined here can be used in modules-left/center/right
    // See https://github.com/Alexays/Waybar/wiki/Module-Configuration
    "modules-left": [
        "hyprland/workspaces",
        "custom/reboot",
        "custom/power"
    ],
    "modules-center": [
        "hyprland/window"
    ],
    "modules-right": [
        "tray",
        "custom/arch-updates",
        "custom/aur-updates",
        "wireplumber",
        "bluetooth",
        "battery",
        "memory",
        "cpu",
        "disk",
        "network",
        "clock"
    ],

    // Module specifics
    "hyprland/workspaces": {
        "on-click": "activate",
        "all-outputs": false,
        "warp-on-scroll": false,
        "format": "{icon}",
        "format-icons": {
            "default": "",
            "1": "󰎤",
            "2": "󰎧",
            "3": "󰎪",
            "4": "󰎭",
            "5": "󰎱",
            "6": "󰎳",
            "7": "󰎶",
            "8": "󰎹",
            "9": "󰎼"
        }
    },
    "custom/reboot": {
        "format": "  ",
        "on-click": "systemctl reboot",
        "tooltip": true,
        "tooltip-format": "Reboot"
    },
    "custom/power": {
        "format": "  ",
        "on-click": "systemctl poweroff",
        "tooltip": true,
        "tooltip-format": "Power off"
    },
    "custom/arch-updates": {
	"format": "<span color='#8fbcbb'>󱘊</span> {text}",
        "return-type": "json",
	"interval": "once",
	"exec": "$HOME/.config/waybar/scripts/check-arch-updates.sh",
	"on-click": "pamac-manager",
	"signal": 8
    },
    "custom/aur-updates": {
	"format": "<span color='#86b6b9'>󰣇</span> {text}",
        "return-type": "json",
	"interval": "once",
	"exec": "$HOME/.config/waybar/scripts/check-aur-updates.sh",
	"on-click": "pamac-manager",
	"signal": 8
    },
    "hyprland/window": {
        "format": "{}",
        "max-length": 120,
        "separate-outputs": true
    },
    "tray": {
        "icon-size": 18,
        "spacing": 10
    },
    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "<span color='#6ea4b5'>{icon}</span> {capacity}% ",
        "format-charging": "<span color='#6ea4b5'>󱐋</span> {capacity}%",
        "interval": 1,
        "format-icons": ["󰁺", "󰁺", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"],
        "tooltip": true
    },
    "clock": {
        "tooltip-format": "<big>{:%d.%m.%Y}</big>\n<tt><small>{calendar}</small></tt>",
        "format-alt": "{:%d.%m.%Y}",
        "format": "<span color='#5e88af'></span> {:%H:%M}",
        "timezone": "Europe/Berlin"
    },
    "cpu": {
        "format": "<span color='#6396b3'></span> {usage:>2}%",
        "tooltip": true,
        "on-click": "ghostty -e btop"
    },
    "memory": {
        "format": "<span color='#689db4'></span> {:>2}%",
        "on-click": "ghostty -e btop"
    },
    "disk": {
        // Shows usage of /
        "interval": 30,
        "format": "<span color='#608fb1'></span> {percentage_used}%",
        "path": "/",
        "tooltip": true,
        "tooltip-format": "{used} GiB used out of {total} GiB on {path} ({percentage_used}%)",
        "on-click": "filelight"
    },
    "wireplumber": {
        "format": "<span color='#7db0b8'>{icon}</span> {volume}%",
        "format-muted": "",
        "on-click": "qpwgraph",
        "format-icons": ["", "", ""]
    },
    "bluetooth": {
        "format": "<span color='#75aab6'>󰂯</span> {status}",
        "format-disabled": "<span color='#75aab6'>󰂲</span> {status}",
        "format-connected": "<span color='#75aab6'>󰂱</span> {device_alias}",
        "format-connected-battery": "<span color='#75aab6'></span> {device_alias} {device_battery_percentage}%",
        // "format-device-preference": [ "device1", "device2" ], // preference list deciding the displayed device
        "tooltip-format": "{controller_alias}\t{controller_address}\n\n{num_connections} connected",
        "tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{num_connections} connected\n\n{device_enumerate}",
        "tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
        "tooltip-format-enumerate-connected-battery": "{device_alias}\t{device_address}\t{device_battery_percentage}%",
        "on-click": "{{ home }}/.config/waybar/scripts/toggle-bluetooth.sh"
    },
    "network": {
        "format-ethernet": "<span foreground='#75aab6'>󰈀</span> {ifname}",
        "format-wifi": "<span foreground='#75aab6'>󰖩</span> {essid}",
        "tooltip": true,
        "rotate": 0,
        "tooltip-format-ethernet": "IP: <big><b>{ipaddr}/{cidr}</b></big>\nInterface: <b>{ifname}</b>",
        "tooltip-format-wifi": "Network: <big><b>{essid}</b></big>\nSignal strength: <b>{signaldBm}dBm ({signalStrength}%)</b>\nFrequency: <b>{frequency}MHz</b>\nIP: <big><b>{ipaddr}/{cidr}</b></big>\nInterface: <b>{ifname}</b>",
        "format-linked": "󰈀 {ifname} (No IP)",
        "format-disconnected": "󱚵 ",
        "tooltip-format-disconnected": "Disconnected",
        "format-alt": "<span foreground='#75aab6'></span> {bandwidthDownBytes} <span foreground='#75aab6'></span> {bandwidthUpBytes}",
        "interval": 2
    }
}
