{
    // General bar settings
    "layer": "top",
    "position": "top",
    "height": 39,
    "spacing": 0, // Spacing between modules

    // Module configuration
    // Modules defined here can be used in modules-left/center/right
    // See https://github.com/Alexays/Waybar/wiki/Module-Configuration
    "modules-left": [
        "hyprland/workspaces",
        "custom/reboot",
        "custom/power"
    ],
    "modules-center": [
        "hyprland/window"
    ],
    "modules-right": [
        "tray",
        "wireplumber",
        "bluetooth",
        "battery",
        "memory",
        "cpu",
        "disk",
        "clock"
    ],

    // Module specifics
    "hyprland/workspaces": {
        "on-click": "activate",
        "disable-scroll": true,
        "all-outputs": true,
        "warp-on-scroll": false,
        "format": "{icon}",
        "format-icons": {
            "default": "",
            "1": "",
            "2": "",
            "3": "󰖟",
            "4": "",
            "5": "󰍺",
            "6": "󰍡",
            "7": "󰇮",
            "8": "󰎄",
            "9": "󰕧",
        },
        "persistent-workspaces": {
            "*":[1,2,3]
        }
    },
    "custom/reboot": {
        "format": "  ",
        "on-click": "systemctl reboot",
        "tooltip": true,
    },
    "custom/power": {
        "format": "  ",
        "on-click": "systemctl poweroff",
        "tooltip": true,
    },
    "hyprland/window": {
        "format": "{}",
        "max-length": 120
    },
    "tray": {
        "icon-size": 18,
        "spacing": 10
    },
    "battery": {
        "states": {
        "warning": 30,
        "critical": 15
        },
        "format": "<span color='#8fbcbb'> {icon} </span>{capacity}% ",
        "format-charging": " 󱐋{capacity}%",
        "interval": 1,
        "format-icons": ["", "", "", "", ""],
        "tooltip": true
    },
    "clock": {
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format-alt": "{:%Y-%m-%d}",
        "format": " {:%H:%M}"
    },
    "cpu": {
        "format": "<span color='#D8DEE9'></span> {usage}%",
        "tooltip": true,
        "on-click": "ghostty -e btop"
    },
    "memory": {
        "format": "<span color='#D8DEE9'></span> {}%",
        "on-click": "ghostty -e btop"
    },
    "disk": {
        // Shows usage of /
        "interval": 30,
        "format": "<span color='#D8DEE9'></span> {percentage_used}%",
        "path": "/",
        "tooltip": true,
        "tooltip-format": "{used} GiB used out of {total} GiB on {path} ({percentage_used}%)",
        "on-click": "filelight"
    },
    "wireplumber": {
        "format": "{icon} {volume}%",
        "format-muted": "",
        "on-click": "helvum",
        "format-icons": ["", "", ""]
    },
    "bluetooth": {
        "format": "󰂯 {status}",
        "format-disabled": "󰂲 {status}",
        "format-connected": "󰂱 {device_alias}",
        "format-connected-battery": " {device_alias} {device_battery_percentage}%",
        // "format-device-preference": [ "device1", "device2" ], // preference list deciding the displayed device
        "tooltip-format": "{controller_alias}\t{controller_address}\n\n{num_connections} connected",
        "tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{num_connections} connected\n\n{device_enumerate}",
        "tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
        "tooltip-format-enumerate-connected-battery": "{device_alias}\t{device_address}\t{device_battery_percentage}%"
    }
}
