* {
    font-family: "Fira Sans Condensed";
    font-size: 18;
}

window {
    background-color: #3B4252;
}

#input {
    margin: 8px;
    border-radius: 0px;
    border: none;
    background-color: #3B4252;
    color: #ECEFF4;
}

#inner-box {
    background-color: #383C4A;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #383C4A;
}

#scroll {
    margin: 8px;
}

#text {
    padding: 8px;
    color: #eceff4;
}

#entry:nth-child(even){
    background-color: #2e3440;
}

#entry:nth-child(odd){
    background-color: #3b4252;
}

#entry:selected {
    background-color: #5e81ac;
}

#text:selected {
    background: transparent;
}
