- name: "[ DIVE ]"
  hosts: all

  vars:
    __dive_version: "{{ dive_version | default('0.13.1') }}"
    __dive_checksum: "{{ dive_version | default('sha256:0970549eb4a306f8825a84145a2534153badb4d7dcf3febd1967c706367c3d0e') }}"
    __dive_download_path: "{{ dive_download_path | default('/tmp/dive.tar.gz') }}"

  tasks:
    - name: Download dive
      become: true
      ansible.builtin.get_url:
        url: "https://github.com/wagoodman/dive/releases/download/v{{ __dive_version }}/dive_{{ __dive_version }}_linux_amd64.tar.gz"
        dest: "{{ __dive_download_path }}"
        checksum: "{{ __dive_checksum }}"
        mode: "0755"

    - name: Unpack dive
      become: true
      ansible.builtin.unarchive:
        src: "{{ __dive_download_path }}"
        dest: /usr/local/bin
        include:
          - dive
