---
- name: "[ GNOME KEYRING ]"
  hosts: all

  tasks:
    - name: Ensure required packages are present
      become: true
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      loop:
        - gnome-keyring
        - seahorse

    - name: Configure pam sddm
      become: true
      ansible.builtin.lineinfile:
        path: "/etc/pam.d/sddm"
        line: "{{ item }}"
      loop:
        - "auth        optional    pam_gnome_keyring.so"
        - "session     optional    pam_gnome_keyring.so auto_start"

    - name: Disable gcr-ssh-agent
      ansible.builtin.systemd_service:
        name: gcr-ssh-agent
        scope: user
        state: stopped
        enabled: false

    - name: Disable and mask gcr-ssh-agent.socket
      become: true
      ansible.builtin.systemd_service:
        name: gcr-ssh-agent.socket
        scope: global
        enabled: false
        masked: true
