- name: "[ GOSS ]"
  hosts: all

  vars:
    __goss_version: "{{ goss_version | default('v0.4.9') }}"
    __goss_checksum: "{{ goss_version | default('sha256:87dd36cfa1b8b50554e6e2ca29168272e26755b19ba5438341f7c66b36decc19') }}"
    __dgoss_checksum: "{{ dgoss_version | default('sha256:7ee35d6ccbe1440eb2a08984a43e8b3742f2e849abdc0d7384ac08de55682d7c') }}"

  tasks:

    - name: Download goss
      become: true
      ansible.builtin.get_url:
        url: "https://github.com/goss-org/goss/releases/download/{{ __goss_version }}/goss-linux-amd64"
        dest: /usr/local/bin/goss
        checksum: "{{ __goss_checksum }}"
        mode: "0755"

    - name: Download dgoss
      become: true
      ansible.builtin.get_url:
        url: "https://github.com/goss-org/goss/releases/download/{{ __goss_version }}/dgoss"
        dest: /usr/local/bin/dgoss
        checksum: "{{ __dgoss_checksum }}"
        mode: "0755"
