---
- name: "[ GRYPE ]"
  hosts: all

  vars:
    _grype_version: "{{ grype_version | default('0.107.1') }}"
    _grype_os_architecture: "{{ grype_os_architecture | default('linux_amd64') }}"
    _grype_checksum: "{{ grype_checksum | default('sha256:a434ecfd1b3aff9c5a8f9186a57c3c09b34bdbeeeeb00769313568be17af6297') }}"

  tasks:
    - name: Download grype binaries
      ansible.builtin.get_url:
        url: https://github.com/anchore/grype/releases/download/v{{ _grype_version }}/grype_{{ _grype_version }}_{{ _grype_os_architecture }}.tar.gz
        dest: /tmp/grype.tar.gz
        checksum: "{{ _grype_checksum }}"
        mode: "0640"

    - name: Create grype temp dir
      ansible.builtin.file:
        path: /tmp/grype
        state: directory
        mode: "0750"

    - name: Extract grype archive
      become: true
      ansible.builtin.unarchive:
        src: /tmp/grype.tar.gz
        dest: /usr/local/bin
        include:
          - grype
