---
- name: "[ KANRI ]"
  hosts: all

  vars:
    __kanri_version: "{{ kanri_version | default('0.8.2') }}"
    __kanri_download_url: "https://github.com/kanriapp/kanri/releases/download/app-v{{ __kanri_version }}/kanri_{{ __kanri_version }}_amd64.AppImage"
    __kanri_checksum: "{{ kanri_checksum | default('sha256:38ac548eb9c9bbb576ebb9a5626a9d2c98993a8a9845f014a17e317b54cef43f') }}"
    __kanri_desktop_path: "{{ home }}/.local/share/applications/kanri.desktop"
    __kanri_default_filename: "kanri-{{ __kanri_version }}.AppImage"
    __kanri_filename: "{{ kanri_filename | default(__kanri_default_filename) }}"
    __kanri_default_appimage_dest: "{{ home }}/bin/{{ __kanri_filename }}"
    __kanri_appimage_dest: "{{ kanri_appimage_dest | default(__kanri_default_appimage_dest) }}"
    __kanri_default_icon_path: "{{ home }}/.icons/kanri.svg"
    __kanri_icon_path: "{{ kanri_icon_path | default(__kanri_default_icon_path) }}"

  tasks:

    - name: Download kanri appimage
      ansible.builtin.get_url:
        url: "{{ __kanri_download_url }}"
        dest: "{{ __kanri_appimage_dest }}"
        checksum: "{{ __kanri_checksum }}"
        mode: "0750"

    - name: Configure kanri icon
      ansible.builtin.template:
        src: ../templates/kanri.svg.j2
        dest: "{{ __kanri_icon_path }}"
        mode: "0644"

    - name: Add contents to kanri.desktop file
      ansible.builtin.blockinfile:
        path: "{{ __kanri_desktop_path }}"
        create: true
        mode: "0640"
        state: present
        marker: "# {mark} ANSIBLE MANAGED BLOCK"
        block: |
          [Desktop Entry]
          Exec={{ __kanri_appimage_dest }}
          Name=Kanri
          Icon={{ __kanri_icon_path }}
          Type=Application
