---
- name: "[ LAZYGIT ]"
  hosts: all

  vars:
    __lazygit_side_by_side: "{{ lazygit_side_by_side | default(true) }}"
    __aliases_path: "{{ lookup('env', 'HOME') }}/.aliases"

  tasks:

    - name: Ensure lazygit is present
      become: true
      community.general.pacman:
        name: "{{ item }}"
        state: present
      loop:
        - lazygit
        - git-delta

    - name: Create lazygit config dir
      tags: ["config"]
      ansible.builtin.file:
        path: "{{ home }}/.config/lazygit"
        state: directory
        mode: "0750"

    - name: Configure lazygit
      tags: ["config"]
      ansible.builtin.template:
        src: ../templates/lazygit.yml.j2
        dest: "{{ home }}/.config/lazygit/config.yml"
        mode: "0640"

    - name: Configure lazygit aliases
      tags: ["config"]
      ansible.builtin.lineinfile:
        path: "{{ __aliases_path }}"
        line: "alias {{ item.alias }}='{{ item.value }}'"
      loop:
        - alias: lg
          value: lazygit
