---
- name: "[ LOCALSEND ]"
  hosts: all

  vars:
    _localsend_version: "{{ localsend_version | default('1.17.0') }}"
    _localsend_checksum: "{{ localsend_checksum | default('sha256:c1a1e7bc7bb7eebdf6c365a30cef0d4ba3e6bb79961c3b94edf918920f8e36f0') }}"
    _localsend_default_filename: "localsend-{{ _localsend_version }}.AppImage"
    _localsend_filename: "{{ localsend_filename | default(_localsend_default_filename) }}"
    _localsend_default_appimage_dest: "{{ home }}/bin/{{ _localsend_filename }}"
    _localsend_appimage_dest: "{{ localsend_appimage_dest | default(_localsend_default_appimage_dest) }}"
    _localsend_default_icon_path: "{{ home }}/.icons/localsend.svg"
    _localsend_icon_path: "{{ localsend_icon_path | default(_localsend_default_icon_path) }}"
    _localsend_default_desktop_path: "{{ home }}/.local/share/applications/localsend.desktop"
    _localsend_desktop_path: "{{ localsend_desktop_path | default(_localsend_default_desktop_path)}}"

  tasks:
    - name: Download localsend
      ansible.builtin.get_url:
        url: "https://github.com/localsend/localsend/releases/download/v{{ _localsend_version }}/LocalSend-{{ _localsend_version }}-linux-x86-64.AppImage"
        checksum: "{{ _localsend_checksum }}"
        dest: "{{ _localsend_appimage_dest }}"
        mode: "0750"

    - name: Configure localsend icon
      ansible.builtin.template:
        src: ../templates/localsend.svg.j2
        dest: "{{ _localsend_icon_path }}"
        mode: "0644"

    - name: Add contents to localsend.desktop file
      ansible.builtin.blockinfile:
        path: "{{ _localsend_desktop_path }}"
        create: true
        mode: "0640"
        state: present
        marker: "# {mark} ANSIBLE MANAGED BLOCK"
        block: |
          [Desktop Entry]
          Exec={{ _localsend_appimage_dest }}
          Name=LocalSend
          Icon={{ _localsend_icon_path }}
          Type=Application
