---
- name: "[ RCLONE ]"
  hosts: all

  vars:
    systemd_user_dir: "{{ home }}/.config/systemd/user"

  handlers:

    - name: Restart mount
      ansible.builtin.systemd_service:
        name: "rclone_mount_{{ item.name | lower }}.service"
        state: restarted
        daemon_reload: true
        scope: user
      loop: "{{ systemd_mounts.results | selectattr('changed', 'equalto', true) | map(attribute='item') | list }}"

  tasks:
    - name: Ensure rclone and needed utils are present
      become: true
      community.general.pacman:
        name: "{{ item }}"
        state: present
      loop:
        - rclone
        - inotify-tools

    - name: Create sync daemon if configured
      when: rclone_sync_config is defined
      tags: ["config", "sync"]
      block:

        - name: Copy daemon script to path
          ansible.builtin.template:
            src: ../templates/rclone_sync_daemon.sh.j2
            dest: "{{ home }}/.local/bin/rclone_sync_{{ item.name }}.sh"
            mode: "0750"
          loop: "{{ rclone_sync_config }}"
          loop_control:
            label: "{{ item.name }}"

        - name: Ensure the systemd user unit is present
          ansible.builtin.template:
            src: ../templates/rclone_sync.service.j2
            dest: "{{ systemd_user_dir }}/rclone_sync_{{ item.name }}.service"
            mode: "0644"
          loop: "{{ rclone_sync_config }}"
          loop_control:
            label: "{{ item.name }}"

        - name: Enable systemd job
          ansible.builtin.systemd:
            name: "rclone_sync_{{ item.name }}"
            state: started
            enabled: true
            scope: user
            daemon_reload: true
          loop: "{{ rclone_sync_config }}"
          loop_control:
            label: "{{ item.name }}"

    - name: Create mount unit if configured
      when: rclone_mount_config is defined
      tags: ["config", "mount"]
      block:

        - name: Ensure the systemd user unit is present
          ansible.builtin.template:
            src: ../templates/rclone_mount.service.j2
            dest: "{{ systemd_user_dir }}/rclone_mount_{{ item.name | lower }}.service"
            mode: "0644"
          loop: "{{ rclone_mount_config }}"
          loop_control:
            label: "{{ item.name }}"

        - name: Start systemd service
          notify: Restart mount
          ansible.builtin.systemd:
            name: "rclone_mount_{{ item.name | lower }}.service"
            state: started
            enabled: true
            scope: user
            daemon_reload: true
          loop: "{{ rclone_mount_config }}"
          loop_control:
            label: "{{ item.name }}"
