---
- name: "[ SYNCTHING ]"
  hosts: all

  tasks:
    - name: Ensure packages are installed
      become: true
      ansible.builtin.package:
        name: syncthing
        state: present

    - name: Start and enable syncthing systemd user unit
      ansible.builtin.systemd_service:
        name: syncthing
        scope: user
        enabled: true
        state: started
